.content{
    padding: 15px;
    height: max-content;
    width: 80%;
    background-color: $base-color;

    h2{
        margin-top: 15px;
        margin-bottom: 5px;
    }
    h3{
        margin-top: 15px;
        margin-bottom: 5px;
    }
}