#side_nav{
    padding: 15px;
    height: 100vh;
    width: 20%;
    background-color: black;

    h4{
        padding-bottom: 5px;
        padding-top: 15px;
    }

    a{
        padding-left: 15px;
    }
}
