.container{
    margin-top: 20px;
    width: 850px;
}

.moviecard{

    &__background{
    background-color: $dark-grey;
    border-radius: 5px;
    }

    &__rank{
        color: white;
        padding-bottom: 10px;
    }

    &__media{
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__content{
        padding-right: 15px;
        padding-left: 15px;
    }

    &__time{
        position: absolute;
        right: 10px;
    }

    &__title{
        line-height: 1.5;
    }

    &__data{
        margin-bottom: 20px;
    }

    &__short_description{
        line-height: 1.5;
    }

    &__long_description{
        display: none;
        line-height: 1.5;   
    }

    &__directors{
        display: none;
    }

    &__actors{
        display: none;
    }

    &__folder{
        margin-top: 35px;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: solid white;
        border-width: 0.5px;
        border-end-start-radius: 5px;
        border-end-end-radius: 5px;

        &__upfolded{

        }

        &__downfolded{
            
        }
    }



    
}