a{
    color: white;
}

h1{
    font-size: 2rem;
    font-weight: bold;
    font-family: $heading-font;
}

h2{
    color: $akzent;
    font-size: 2rem;
    font-family: $heading-font;
}

h2.spacing{
    margin-top: 40px !important;
    margin-bottom: 50px !important;
}

h3{
    color: $akzent;
    font-weight: bold;
    font-family: $heading-font;
}
h4{
    color: $akzent;
    font-weight: bold;
    font-family: $heading-font;
}
.brand{
    font-family: $brand-font;
}
p{
    font-family: $main-font;
    color: white;
}