@import 'utils/variables.scss', 'base/reset.scss', 'base/base.scss', 'base/typography.scss', 'layout/sidebar.scss', 'layout/content.scss';


body{
    display: flex;
    color: white;
    font-family: Helvetica;
}




