@import 'utils/variables.scss', 'base/reset.scss', 'base/base.scss', 'base/typography.scss', 'layout/sidebar.scss', 'layout/content.scss', 'components/moviecard.scss';


body{
    display: flex;
    color: white;
    background-color: $base-color;
    font-family: $main-font,$heading-font, sans-serif;
}





